fastapi==0.115.0
uvicorn==0.30.6
sqlmodel==0.0.24
psycopg[binary]==3.2.2
python-dotenv==1.0.1
passlib==1.7.4
python-jose[cryptography]==3.3.0
email-validator==2.2.0
bcrypt==4.0.1
httptools==0.6.1
watchfiles==0.24.0
websockets==13.1
pytest==7.4.4
coverage==7.6.1
mypy==1.11.2
ruff==0.6.7
pre-commit==3.8.0
python-multipart